*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.wrapper{
    font-family: 'raleway';
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background:#fafafa;
}
.wrapper h1{
    font-size:3em;
    margin:25px 0;
    text-align:center;
    font-weight:600;
    color:chartreuse;
}
.wrapper h3{
    font-size:2em;
    margin:25px 0;
    margin-bottom: 10px;
    text-align:center;
    font-weight:200;
    color:rgb(255, 0, 191);
}
.wrapper h3 i{
    color:rgb(255, 0, 0);
}
.content-box{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    width:1000px;
    margin-top:30px;
}
.discard{
	min-height:220px;
    width:990px;
    padding:30px;
	font-size:large;
    border-radius:50px 10px;
    display:flex;
    justify-content:right;
    align-items:right;
    flex-direction:column;
    background:#fff;
    margin:10px 4px;
    box-shadow:0px 15px 25px rgba(0,0,0,0.2);
    transition: 0.3s;
	
}
.discard i{
    margin:2px;
    color:#f5b041;
}
.discard:hover{
	min-height:225px;
    width:995px;
    border-radius: 5px;
    display:flex;
    justify-content:right;
    align-items:right;
    flex-direction:column;
    background:rgba(92, 233, 11, 0.616);
    color:white;
    margin:10px 4px;
    box-shadow:0px 15px 25px rgba(0,0,0,0.2);
    transition: 0.3s;

}
.discard i:hover{
    margin:2px;
    color:#f50606;
}
.card{
    min-height:220px;
    width:320px;
    padding:30px;
    border-radius: 5px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background:#fff;
    margin:10px 4px;
    box-shadow:0px 15px 25px rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card i{
    margin:20px;
    color:#f006b5;
}
.card h2{
    margin-bottom:12px;
    font-weight:400;
    text-align:center;
}
.card p{
    color:#6c757d;
    text-align:center;
}
.card:hover{
	min-height:230px;
    width:330px;
    border-radius: 5px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background:#fff;
    margin:10px 4px;
    box-shadow:0px 15px 25px rgba(0,0,0,0.2);
    transition: 0.3s;

}
.card:hover i,
.card:hover p{
    color:#fff;
}
.card:hover h2{
    font-weight:600;
    color:#f2f2f2;
}
.card:nth-child(1):hover{
    background:linear-gradient(45deg,
    rgba(255,28,8,0.8) 0%,
    rgba(255,0,82,0.8) 100%),
    url('i/p1.png');
    background-repeat: no-repeat;
    /*background-size:cover;*/
}
.card:nth-child(2):hover{
    background:linear-gradient(45deg,
    rgba(255,28,8,0.8) 0%,
    rgba(255,0,82,0.8) 100%),
    url('i/p2.png');
    background-repeat: no-repeat;
    /*background-size:cover;*/
}
.card:nth-child(3):hover{
    background:linear-gradient(45deg,
    rgba(255,28,8,0.8) 0%,
    rgba(255,0,82,0.8) 100%),
    url('i/p3.png');
    background-repeat: no-repeat;
    /*background-size:cover;*/
}
.card:nth-child(4):hover{
    background:linear-gradient(45deg,
    rgba(255,28,8,0.8) 0%,
    rgba(255,0,82,0.8) 100%),
    url('i/p4.png');
    background-repeat: no-repeat;
    /*background-size:cover;*/
}
.card:nth-child(5):hover{
    background:linear-gradient(45deg,
    rgba(255,28,8,0.8) 0%,
    rgba(255,0,82,0.8) 100%),
    url('i/p5.png');
    background-repeat: no-repeat;
    /*background-size:cover;*/
}
.card:nth-child(6):hover{
    background:linear-gradient(45deg,
    rgba(255,28,8,0.8) 0%,
    rgba(255,0,82,0.8) 100%),
    url('i/p6.png');
    background-repeat: no-repeat;
    /*background-size:cover;*/
}
/***Response**/
@media(max-width: 991px)
{
    .wrapper{
        padding:25px;
    }
    .wrapper h1{
        font-size:2.5em;
        font-weight: 600;
    }
    .content-box{
        flex-direction: column;
        width:100%;
    }
    .card{
        min-width:300px;
        margin:10px auto;
    }
	.discard{
		width:auto;
		margin:10px;
	}
	.discard:hover{
		width:auto;
		margin:10px;
	}
}
.bottom{
    min-height:80px;
    width:990px;
    padding:30px;
	font-size:30px;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background:rgb(240, 8, 220);
    color:white;
    margin:10px 4px;
    box-shadow:0px 15px 25px rgba(0,0,0,0.2);
    transition: 0.3s;
}