* {
  box-sizing: border-box;

}

body {
  margin: 10px;
  background-color:#8B0787 ;
 
}

.header{
  background-image:url(https://flaskimagebucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/icon/bg4.jpg);
  color: white;
  font-family: Georgia, serif;
  border-style:inset;
  border-color:#02198E;
  padding: 25px;
  text-align: center;
}

.topnav {
  overflow: hidden;
  margin-top: 5px;
  background-image:url(https://flaskimagebucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/backimg/backimg/img5.png);
  border-style:inset;
  border-color:#EB070E;
}

/* Style the topnav links */
.topnav a {
  float: center;
  display: block;
  text-shadow: 2px 2px 5px red;
  font-family: Georgia, serif;
  font-size:30px;
  color: #191970;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.wrapper{
  background:#fff;
  margin-top:5px;
  padding:20px;
  border-style:double;
  border-color:#EB070E;
  border-radius:5px;
  text-shadow: 2px 2px 5px red;
  font-family: Georgia, serif;
}
.field{
  
  padding: 25px;
  text-align:left;
  font-size:20px;
  }
.field input[type=text]{
   width:100%;
   border:2px inset red;
   -webkit-transition:0.1s;
   border-radius: 0px;
   padding:12px 20px;
   outline:none;
  }
.field input[type=text]:focus{
   background-color:lightblue;
   border:3px solid green;
   }
  /*---number field----*/ 
.field input[type=number]{
   width:100%;
   border:2px inset red;
   -webkit-transition:0.1s;
   border-radius: 0px;
   padding:12px 20px;
   outline:none;
  }
.field input[type=number]:focus{
   background-color:lightblue;
   border:3px solid green;
   }
  /*--emaile field---*/ 
.field input[type=email]{
   width:100%;
   border:2px inset red;
   -webkit-transition:0.1s;
   border-radius: 0px;
   padding:12px 20px;
   outline:none;
  }
.field input[type=email]:focus{
   background-color:lightblue;
   border:3px solid green;
   }
   /*--password field---*/ 
.field input[type=password]{
   width:100%;
   border:2px inset red;
   -webkit-transition:0.1s;
   border-radius: 0px;
   padding:12px 20px;
   outline:none;
  }
.field input[type=password]:focus{
   background-color:lightblue;
   border:3px solid green;
   }
 /*--date field--*/  
.field input[type=date]{
   width:100%;
   border:2px inset red;
   -webkit-transition:0.1s;
   border-radius: 0px;
   padding:12px 20px;
   outline:none;
  }
.field input[type=date]:focus{
   background-color:#00ffd9;
   border:3px solid green;
   }
 td{
   width:17%;
   height:100px;
   text-align:center;
   }
 .check td{
   width:17%;
   height:100px;
   text-align:left;
 }

 /*----submit-button----*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


button{
    width: 270px;
    height: 80px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.check-box{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0 0 12px -2px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: -40px;
    opacity: 0;
}

.check-box svg{
    width: 40px;
    margin: 20px;
}

svg path{
    stroke-width: 3;
    stroke: #fff;
    stroke-dasharray: 34;
    stroke-dashoffset: 34;
    stroke-linecap: round;
}

.active{
    background: #ff2b75;
    transition: 1s;
}

.active .check-box{
    right: 0;
    opacity: 1;
    transition: 1s;
}

.active p{
    margin-right: 125px;
    transition: 1s;
}

.active svg path{
    stroke-dashoffset: 0;
    transition: 1s;
    transition-delay: 1s;
} 