<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
      <title>
        {% block title %}

        {% endblock %}
       </title>
    </head>
<body>
<div class="navbar">
    <div class="icon">
        <h2 class="logo">NUTRITION PRIORITY</h2>
    </div>

    <div class="menu">
        <ul>
            <li><a href="{{ url_for('about') }}">ABOUT</a></li>
            <li><a href="signup.html">SIGNUP</a></li>
            <li><a href="{{ url_for('service') }}">SERVICE</a></li>
            <li><a href="{{ url_for('contact') }}">CONTACT</a></li>
        </ul>
    </div>
<!--
    <div class="search">
        <input class="srch" type="search" name="" placeholder="Type To text">
        <a href="#"> <button class="btn">Search</button></a>
    </div>
-->
</div> 
</body>