<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <h1>Nutrition &nbsp Assist&nbsp Application</h1>
    <!--<div class="logoimg"  ></div>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />-->
    <link rel="stylesheet"href="{{ url_for('static', filename='css/about.css') }}" />
    </head>  
  <body>
    <!--<nav class="navbar ">
      <div class="navbar-container container">
          <input type="checkbox" name="" id="">
          <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
          </div>
          <ul class="menu-items">
              <li><a href="#home">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#food">Category</a></li>
              <li><a href="#food-menu">Menu</a></li>
            
          </ul>
          <h1 class="logo">Healthy food</h1>
      </div>
  </nav>-->
    <section class="showcase-area" id="showcase">
      <div class="showcase-container">
        <h1 class="main-title" id="home">Health &nbsp is &nbsp Wealth</h1>
        <p>You cannot enjoy your wealth, if you cannot enjoy your health</p>
        <a href="#food-menu" class="btn btn-primary">Menu</a>
      </div>
    </section>
    <section id="about">
      <div class="about-wrapper container">
        <div class="about-text">
          <p class="small">About Nutrition</p>
          <h2>What is Nutrition?</h2>
          <p>
            “Nutrients are the compounds in food that provide us
			with energy that facilitates repair and growth and helps 
			to carry out different life processes.” Not all nutrients
			provide energy but are necessary for some form or the other.</p>
           <p>“Nutrition is the process of taking in food and 
            converting it into energy and other vital nutrients 
            required for life.”</p>
        </div>
        <div class="about-img">
          <img src="https://flaskimagebucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/img2/p7.png" alt="food" />
        </div>
      </div>
    </section>
    <section id="food">
      <h2>Types of Nutritions</h2>
      <h3 align="center">Just click on the images to view in detail "Just click it"</h3><br>
      <div class="food-container container">
        <div class="food-type fruite">
          <div class="img-container">
            <img src="/static/css/img2/img1.png" alt="error" ><h1>Macro Nutrition</h1>
            <div class="img-content">
              <h3>Macro Nutrition</h3>
              <a
                href="https://en.wikipedia.org/wiki/List_of_macronutrients"
                class="btn btn-primary"
                target="blank"
                >learn more</a>    
            </div>
          </div>
        </div>
        <div class="food-type fruite">
          <div class="img-container">
            <img src="https://flaskimagebucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/img2/veg.jpg" alt="error" /><h1>Micro Nutrition</h1>
            <div class="img-content">
              <h3>Micro Nutrition</h3>
              <a
                href="https://en.wikipedia.org/wiki/Micronutrient"
                class="btn btn-primary"
                target="blank"
                >learn more</a>
            </div>
          </div>
        </div>
       </div>
         <h1>What is Macro & Micro Nutritions?</h1>
		 <br>
		 <center >
		<table  style="text-shadow: 2px 2px 5px red; font-family: Georgia, serif;" align="center">
		<tr><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp *Macronutrients are the nutrients your body needs in larger amounts, namely </td></tr>                  
		 
		 <tr><td align="center">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp ->&nbsp carbohydrates</td></tr>
         <tr><td align="center">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp ->&nbsp protein</td></tr>
        <tr><td align="center">->&nbsp fat</td></tr> 
       <tr><td align="center">These provide your body with energy, or calories.</td></tr>
       <tr><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp *Micronutrients are the nutrients your body needs in smaller amounts, which are commonly referred to as </td></tr>
       <tr><td align="center">->&nbsp vitamins</td></tr>
        <tr><td align="center">->&nbsp minerals</td></tr>
		 </table></center>
    </section>
    <section class="food-menu"id="food-menu">
      <h2 class="food-menu-heading">Food Menu</h2>
    <div class="food-menu-container container">
        <div class="food-menu-item">
          
          
        </div>

        
          <div class="food-description">
            
          </div>
        </div>
		<div class="food-menu-item">
          <div class="food-img">
            <img width="300px" height="300px" src="https://flaskimagebucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/img2/img9.png" alt="" />
          </div>
          <div class="food-description">
            <h2 class="food-titile">Ragi Dosa</h2>
            <p>
              One Nachni Dosa (Ragi Dosa) gives 132 calories. 
			  Out of which carbohydrates comprise 72 calories, 
			  proteins account for 12 calories and remaining calories 
			  come from fat which is 48 calories. One Nachni Dosa provides 
			  about 7 percent of the total daily calorie requirement of
			  a standard adult diet of 2,000 calories.</p>
            
          </div>
        </div>
		<br>
        <div class="food-menu-item">
          <div class="food-img">
            <img width="300px" height="300px" src="https://flaskimagebucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/img2/p1.png" alt="" />
          </div>
          <div class="food-description">
            <h2 class="food-titile">Idli</h2>
            <p>
              Idlis are great for digestion and gut
              Fermented foods enable better breakdown of minerals and vitamins in our body.  The nutrient value of a single medium-sized (regular) idli is: 35-39 calories,
			  2-3 grams of protein, 2-5 grams of dietary fibre and 6-10 grams of carbohydrates;
			  1-5 milligram of iron, and trace amounts of calcium, folate, potassium, and
			  vitamin A depending on the flavour item used in it.</p>
            
          </div>
        </div>
		<br>
        <div class="food-menu-item">
          <div class="food-img">
            <img width="300px" height="300px"src="https://flaskimagebucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/img2/img4.png" alt="" />
          </div>
          <div class="food-description">
            <h2 class="food-titile">Biriyani</h2>
            <p>The chicken biryani calories per 500g are 360 calories. 
			Of these, 56 grams come from carbohydrates, 16 grams are 
			from protein, 8 grams are from fat, and the remaining 
			15 grams are from other nutrients. One chicken biryani,
			i.e., 1 kg of biryani contains around 720 calories.</p>
            
          </div>
        </div>
		<br>
		<div class="food-menu-item">
          <div class="food-img">
            <img width="300px" height="300px" src="https://flaskimagebucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/img2/img7.png" alt="" />
          </div>
          <div class="food-description">
            <h2 class="food-titile">Chapathi</h2>
            <p>
             Every small chapati contains about 70 calories and 0.4 
			 grams of fat. With 3 grams of protein per roti, it also
			 bundles in close to 15 grams of carbohydrates. Everything
			 contained in a roti synthesizes and digests quickly,
			 making it a great aid for the digestive system.</p>
          </div>
        </div>
		<br>
		<div class="food-menu-item">
          <div class="food-img">
            <img width="300px" height="300px" src="https://flaskimagebucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/img2/img5.png" alt="" />
          </div>
          <div class="food-description">
            <h2 class="food-titile">Parippu Vada</h2>
            <p>Lentil Fritters (Parippu Vada) might be a good 
			recipe to expand your main course repertoire. For 
			95 cents per serving, this recipe covers 20% of your
			daily requirements of vitamins and minerals. One serving
			contains 351 calories, 15g of protein, and 4g of fat.</p>
          </div>
        </div>
		<br>
		<div class="food-menu-item">
          <div class="food-img">
            <img width="300px" height="300px" src="https://flaskimagebucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/img2/img10.jpg" alt="" />
          </div>
          <div class="food-description">
            <h2 class="food-titile">Fruit Salad</h2>
            <p>A simple bowl of fruit salad is perhaps one of the 
			healthiest meals to eat on a daily basis. A fruit salad 
			can perform wonders if the correct amount and variety 
			of fruits are consumed, as it will offer a powerful
			dose of vitamins, fibre and antioxidants.</p>
          </div>
        </div>
		<br>
		<div class="food-menu-item">
          <div class="food-img">
            <img width="300px" height="300px" src="https://flaskimagebucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/img2/img6.png" alt="" />
          </div>
          <div class="food-description">
            <h2 class="food-titile">Egg</h2>
            <p>One egg has only 75 calories but 7 grams of high-quality 
			protein, 5 grams of fat, and 1.6 grams of saturated fat, 
			along with iron, vitamins, minerals, and carotenoids. The
			egg is a powerhouse of disease-fighting nutrients like lutein
			and zeaxanthin.</p>
          </div>
        </div>
        <div class="food-menu-item">
          <div class="food-img">
            <img width="300px" height="300px" src="https://flaskimagebucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/img2/img8.jpg" alt="" />
          </div>
          <div class="food-description">
            <h2 class="food-titile">Fruit juice</h2>
            <p>
              Other nutrients like magnesium, vitamin B6 and 
			  vitamin K can be found in juice in smaller amounts 
			  (less than 10% of the daily value). In addition, many 
			  juices are fortified with nutrients such as potassium,
			  vitamin C, E, A, D, and calcium. Some popular fortified 
			  juices include grape, cranberry, and apple juice.</p>
          </div>
        </div>
    </section>
    <section>
        <div class="form-container">
        </div>
      </div>
    </section>
    <footer id="footer">
      <h2>"..Thanks You For Spend Time To View Our Work.."</h2>
    </footer>
  </body>
  <!-- 
    .................../ JS Code for smooth scrolling /...................... -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      // Add smooth scrolling to all links
      $("a").on("click", function (event) {
        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $("html, body").animate(
            {
              scrollTop: $(hash).offset().top,
            },
            800,
            function () {
              // Add hash (#) to URL when done scrolling (default click behavior)
              window.location.hash = hash;
            }
          );
        } // End if
      });
    });
  </script>
</html>